.hero-banner-container {
	padding: 100px 40px;
	background-color: #dcdcdc;
	border-radius: 15px;
	position: relative;
	height: 500px;
	line-height: 0.9;
	width: 100%;
}
.hero-banner-container .t-shirt {
	font-size: 20px;
}
.hero-banner-container button {
	border-radius: 15px;
	padding: 10px 16px;
	background-color: #f02d34;
	color: white;
	border: none;
	margin-top: 40px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	z-index: 10000 !important;
}

.hero-banner-container h3 {
	font-size: 4rem;
	margin-top: 4px;
}
.hero-banner-container h1 {
	color: white;
	font-size: 10em;
	margin-left: -20px;
	text-transform: uppercase;
}
.hero-banner-image {
	position: absolute;
	top: 0%;
	right: 20%;
	width: 450px;
	height: 450px;
}
