.categories-container {
	display: flex;
	margin-top: 2rem;
	margin-bottom: 5rem;
	gap: 10px;
}

@media screen and (max-width: 800px) {
	.categories-container {
		flex-direction: column;
		margin-top: 10px;
	}
}
