.products-heading {
	text-align: center;
	margin: 40px 0px;
	color: #324d67;
}
.products-heading h2 {
	font-size: 40px;
	font-weight: 800;
}
.products-heading p {
	font-size: 16px;
	font-weight: 200;
}

.products-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
	margin-top: 20px;
	width: 100%;
}
