.product-type-heading {
	text-align: center;
	margin: 40px 0px;
	color: #1f3142;
}
.product-type-heading h2 {
	font-size: 40px;
	font-weight: 800;
}
.product-type-heading p {
	font-size: 16px;
	font-weight: 200;
}

.product-type-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
	margin-top: 20px;
	margin-bottom: 15rem;
	width: 100%;
}
