.product-detail-container {
	display: flex;
	justify-content: space-evenly;
	gap: 40px;
	margin: 40px;
	margin-top: 60px;
	color: #324d67;
}

/* .product-detail-container img {
	width: 400px;
} */

.small-images-container {
	display: flex;
	gap: 10px;
	margin-top: 20px;
}
.small-image {
	border-radius: 8px;
	background-color: #ebebeb;
	width: 70px;
	height: 70px;
	cursor: pointer;
}

.selected-image {
	background-color: #f02d34;
}

.product-detail-description h4 {
	margin-top: 10px;
}
.product-detail-description p {
	margin-top: 10px;
}

.product-detail-description .price {
	font-weight: 700;
	font-size: 26px;
	margin-top: 30px;
	color: #f02d34;
}

.product-detail-description .quantity {
	display: flex;
	gap: 20px;
	margin-top: 10px;
	align-items: center;
}
.product-detail-description .buttons {
	display: flex;
	gap: 30px;
}
.buttons .add-to-cart {
	padding: 10px 20px;
	border: 1px solid #f02d34;
	margin-top: 40px;
	font-size: 18px;
	font-weight: 500;
	background-color: white;
	color: #f02d34;
	cursor: pointer;
	width: 200px;
	transform: scale(1, 1);
	transition: transform 0.2s ease;
}
.buttons .add-to-cart:hover {
	transform: scale(1.1, 1.1);
}
.buttons .buy-now {
	width: 200px;

	padding: 10px 20px;
	background-color: #f02d34;
	color: white;
	border: none;
	margin-top: 40px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	transform: scale(1, 1);
	transition: transform 0.2s ease;
}
.buttons .buy-now:hover {
	transform: scale(1.1, 1.1);
}

.maylike-products-wrapper {
	margin-top: 120px;
	padding-top: 2px;
	/* background-color: #e9e9e9; */
	border-radius: 15px;
}
.maylike-products-wrapper h2 {
	text-align: center;
	margin: 30px;
	color: #324d67;

	font-size: 28px;
}
.maylike-products-container {
	display: flex;
	justify-content: center;
	gap: 15px;
	background-color: inherit;
}

/* container that will allow us to scroll within a div */
.marquee {
	position: relative;
	padding-top: 20px;
	height: 400px;
	width: 100%;
	overflow-x: hidden;
}

/* allows marquee container to animate scroll horizontally */
.track {
	position: absolute;
	white-space: nowrap;
	will-change: transform;
	animation: marquee 25s linear infinite;
	width: 180%;
}
.track:hover {
	animation-play-state: paused;
}
@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}

.quantity-description {
	border: 1px solid gray;
	padding: 6px;
}
.quantity-description span {
	font-size: 16px;
	padding: 6px 12px;
	cursor: pointer;
}
.quantity-description .minus {
	border-right: 1px solid gray;
	color: #f02d34;
}
.quantity-description .num {
	border-right: 1px solid gray;
	font-size: 20px;
}
.quantity-description .plus {
	color: rgb(49, 168, 49);
}

.product-detail-image {
	border-radius: 15px;
	background-color: #ebebeb;

	width: 400px;
	height: 400px;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
.product-detail-image:hover {
	background-color: #f02d34;
}

@media screen and (max-width: 800px) {
	.product-detail-container {
		flex-wrap: wrap;
		margin: 20px;
	}
	.product-detail-container .product-detail-image {
		width: 350px;
		height: 350px;
	}

	.buttons .add-to-cart {
		width: 150px;
	}
	.buttons .buy-now {
		width: 150px;
	}

	.track {
		animation: marquee 15s linear infinite;
		width: 550%;
	}
}
